<div class="container-fluid">
  <div class="row" style="min-height:80vh">

    <div class="col-12 col-md-2 col-xl-3">
      <img src="assets\coctail.png" class="mx-auto d-block glassImg" alt="">
    </div>

    <div class="col-12 col-md-8 col-xl-6 text-center">
      <h1>Coctail Finder</h1>
      <div class="flex">

        <form class="flex" id="submit" (ngSubmit)="onFetchCoctails(f.value.search)" #f="ngForm">
          <input
            type="text"
            id="search"
            placeholder="Search for coctails or keywords"
            ngModel
            name="search"
            required
          />
          <button class="search-btn" type="submit" [disabled]="!f.valid">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <button class="random-btn" id="random" (click)="onFetchRandomCoctail()">
          <i class="fas fa-random"></i>
        </button>

      </div>

      <br>

      <div class="row no-gutters info">
        <div class="col-12 col-md-4">
          <img src="assets\cocktail-logo.png">Total Drinks: 592
        </div>
        <div class="col-12 col-md-4">
          <img src="assets\ingredient-logo.png">Total Ingredients: 475
        </div>
        <div class="col-12 col-md-4">
          <img src="assets\image2.png">Drink Images: 592
        </div>
      </div>

      <hr>


      <div class="row" *ngIf=!isOneCoctail>
        <div class="col-6 col-lg-4" *ngFor="let coctail of coctails">
          <div class="coctailInfo">
            <div class="d-flex justify-content-center align-items-center" style="height:2.8rem">
              <h2>{{ coctail.strDrink }}</h2>
            </div>

            <div class="img-container" (click)="onFetchOneCoctail(coctail.idDrink)">
              <img src="{{ coctail.strDrinkThumb }}" class="img-thumbnail image">
              <div class="overlay">
                <div class="text">Cocktail<br>Details</div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="row" *ngIf=isOneCoctail>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="coctailRandom">
            <div class="d-flex justify-content-center align-items-center" style="height:2.8rem">
              <h2>{{ coctails[0].strDrink }}</h2>
            </div>

            <img src="{{ coctails[0].strDrinkThumb }}" class="img-thumbnail image">
            <p>{{ coctails[0].strInstructions }}</p>

            <h3>Ingredients</h3>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient1>
              {{ coctails[0].strMeasure1 }} {{ coctails[0].strIngredient1 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient2>
              {{ coctails[0].strMeasure2 }} {{ coctails[0].strIngredient2 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient3>
              {{ coctails[0].strMeasure3 }} {{ coctails[0].strIngredient3 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient4>
              {{ coctails[0].strMeasure4 }} {{ coctails[0].strIngredient4 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient5>
              {{ coctails[0].strMeasure5 }} {{ coctails[0].strIngredient5 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient6>
              {{ coctails[0].strMeasure6 }} {{ coctails[0].strIngredient6 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient7>
              {{ coctails[0].strMeasure7 }} {{ coctails[0].strIngredient7 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient8>
              {{ coctails[0].strMeasure8 }} {{ coctails[0].strIngredient8 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient9>
              {{ coctails[0].strMeasure9 }} {{ coctails[0].strIngredient9 }}
            </span>
            <span class="badge badge-info" *ngIf=coctails[0].strIngredient10>
              {{ coctails[0].strMeasure10 }} {{ coctails[0].strIngredient10 }}
            </span>
            

          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    
    </div>

    <div class="col-12 col-md-2 col-xl-3">
      <img src="assets\coctail.png" class="mx-auto glassImg visibility" alt="">
    </div>

  </div>


  <div class="row text-center mt-5" id="footer">

    <div class="col-sm-12">Cocktail Finder - Powered by Angular 8 and TheCocktailDB API
    </div>
  
  </div>

</div>
